// panel nav icons
#panel-nav-icons {
  display: flex;

  > a {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.divider-panel {
  flex: 0 0 auto;
  width: 90%;
  height: 1px;
  background: $prime-color-1;
  margin: 20px auto;
}

// panel container
#panel-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: rgba(248, 248, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 15px;
  padding: 20px;
  margin: 20px;

  button {
    background: transparent;

    &#toggle-file-tree {
      background: $prime-color-1;
    }
  }
}

// current component
#component-detail {
  display: flex;
  flex-direction: column;
  overflow: auto;

  #component-form {
    margin-bottom: 20px;
  }

  #component-form-top,
  #component-form-bottom {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  #component-form-top {
    margin-bottom: 10px;
  }

  input[type='text'] {
    flex: 1;
    width: 100%;
    max-width: 219px;
  }

  #component-name-input {
    border: 1px solid $prime-color-1;
  }

  .is-container {
    display: flex;
    align-items: center;
  }

  #code-editor-container {
    display: none;
  }
}

// children list
form#children-list-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  > *:not(:last-child) {
    margin-right: 20px;
  }
}

#children-list {
  height: 100%;
  overflow: auto;

  > * {
    margin: 0 auto 10px;
  }

  form,
  .each-child {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  .each-child-container {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 90%;
      height: 1px;
      background: $prime-color-1;
      margin: 20px auto;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .each-child {
    margin-bottom: 10px;
  }
}

// file tree
#toggle-file-tree {
  flex: 0 0 auto;
  width: 120px;
  height: 38px;
  color: #fff;
  border-radius: 0.25rem;
  margin: auto;
}

#file-tree {
  flex: 0 0 auto;
  max-height: 120px;
  overflow: auto;
  margin-top: 20px;

  &.hidden {
    display: none;
  }

  > ul {
    display: flex;
    justify-content: space-around;
  }
  #current-component-file-tree {
    color: $prime-color-1;
    font-weight: bold;
  }
  #container-files,
  #component-files {
    > ul {
      list-style-type: square;
      padding-left: 15px;

      > li {
        cursor: pointer;
      }
    }
  }
}

// templates
#code-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .template-container {
    height: 100%;
    overflow: auto;
  }

  .template-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: auto;

    button {
      margin: 0 0 10px 20px;
    }
  }

  input[type='text'] {
    width: 100%;
    max-width: 219px;
  }

  .change-name {
    flex: 1 0 auto;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  .is-hook-container {
    display: flex;
    align-items: center;
  }

  #reset-templates {
    display: block;
    color: #fff;
    background: $prime-color-1;
    border-radius: 0.25rem;
    padding: 10px 20px;
    margin: auto;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background: #007bff;
    }
  }
}

// subtrees
#subtree-container {
  ul {
    list-style-type: square;
    padding-left: 15px;
  }

  li {
    width: 200px;
  }

  .delete-subtree {
    float: right;
  }
}
