.navbar {
  background: $prime-color-1;
  padding-left: 20px;
  padding-right: 20px;

  .logo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }

  .logo {
    width: 32px;
  }

  .dropdown-menu {
    font-size: $application-font-size;
  }

  .keyboard-shortcut {
    display: flex;
    justify-content: space-between;

    span {
      &:first-child {
        margin-right: 40px;
      }
    }
  }

  .export {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
