// colors
$prime-color-1: #045590;
$prime-color-2: #137ac1;
$prime-color-3: #36a2c2;
$prime-color-4: #71b8c2;
$prime-color-5: #ffffff;

// general
html,
body,
#app {
  height: 100%;
}

body {
  background: #fafafa;
}

label {
  margin: 0;
}

i {
  font-size: 30px;
  color: $prime-color-1;
  cursor: pointer;
}

.btn-primary {
  background: $prime-color-1;
  border-color: $prime-color-1;
}

#app {
  display: flex;
  flex-direction: column;
}

#panel-main-container {
  display: flex;
  height: 100%;
}

.is-container {
  display: flex;
}

input[type='text'] {
  border: 0;
  border-radius: 0.25rem;
  padding: 9px 12px;
  border: 1px solid $prime-color-1;
}

input[type='checkbox'] {
  margin-right: 5px;
}
