#landing-page {
  header {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
  }

  canvas {
    background: linear-gradient(to right, $prime-color-1, teal);
  }

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    max-height: 300px;
    background: $prime-color-5;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #features {
    .feature-item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin: 80px auto;
    }
  }

  #action {
    // background: url('../images/bg-dots.jpg');
    // background-attachment: cover;
  }
}
