html,
body,
#app {
  height: 100%;
}

body {
  background: #fafafa;
}

label {
  margin: 0;
}

i {
  font-size: 30px;
  color: #045590;
  cursor: pointer;
}

.btn-primary {
  background: #045590;
  border-color: #045590;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#panel-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.is-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type='text'] {
  border: 0;
  border-radius: 0.25rem;
  padding: 9px 12px;
  border: 1px solid #045590;
}

input[type='checkbox'] {
  margin-right: 5px;
}

.navbar {
  background: #045590;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .keyboard-shortcut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .keyboard-shortcut span:first-child {
  margin-right: 40px;
}

#panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 15px;
          box-shadow: 0 0 15px;
  margin: 20px;
}

#panel-top,
#panel-bottom {
  height: 50%;
}

#panel-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 0 20px;
}

#divider {
  width: 60%;
  height: 1px;
  background: #045590;
  margin: 20px auto;
}

#panel-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding: 0 20px 20px 20px;
}

#component-detail {
  margin-bottom: 40px;
}

#component-detail #component-form-top,
#component-detail #component-form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#component-detail #component-form-top > *:not(:last-child),
#component-detail #component-form-bottom > *:not(:last-child) {
  margin-right: 20px;
}

#component-detail #component-form-top {
  margin-bottom: 10px;
}

#component-detail #component-name-input {
  border: 1px solid #045590;
}

#component-detail .is-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#children-list {
  overflow: auto;
}

#children-list > * {
  margin: 0 auto 10px;
}

#children-list form,
#children-list .each-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#children-list form > *:not(:last-child),
#children-list .each-child > *:not(:last-child) {
  margin-right: 20px;
}

#sidenav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

#visual-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fafafa;
}
/*# sourceMappingURL=styles.css.map */